
main{
    background-color: white;
}
/*style logo del menu*/
.logo{
    width: 100%;
    max-width: 60px;
    height:auto;
}
/*style menu*/
.sticky-header {
    width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    position: fixed; /* Fija el menú en la parte superior */
    top: 0; /* Lo coloca en la parte superior de la ventana */
    z-index: 2;
    display: on;
  }


 /*style banner inicio*/ 
#contenedor_banner{
    width: 100%;
    height:auto;
    background-color: white;
    margin-bottom: 10px;
}
.carousel-inner img{
    width: 100%;
    height:auto;
    margin-left: auto;
    margin-right: auto;

}
/*style introduccion*/
#introduccion{
    width: 100%;
    height: auto;
    padding: 70px 70px;
    text-align: left;
    background-color: white;
}
#introduccion h3{
    font-family: 'Bebas Neue', sans-serif;
    font-family: 'Satisfy', cursive;
    text-align: center;
    font-size: 30px;
    margin-bottom: 40px;
}
#introduccion h1{
    font-family: 'Dancing Script';
    font-weight: bold;
    text-align: center;
    font-size: 40px;
    margin-top: 10px;
    margin-bottom: 30px;
}

#introduccion h4{
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    font-size: 30px;
    margin-bottom: 30px;
}
/*style conteiner card y text*/

#container_card{
    width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    padding: 60px 60px;
    margin-top: 20px;
    background-color: #D87010;
}

#container_card h1{
    font-size: 30px;
    text-align: center;
    margin-bottom: 10px;
}
#container_card h2{
    font-size: 27px;
    text-align: center;
    margin-bottom: 10px;
}
#container_card h6{
    font-size: 20px;
    text-align: justify;
    margin-top:20px;

}
/*style de card de Introduccion*/
.card{
    width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 20px;
}
.card img{
    width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}
/*style de promocion*/
.promocion{
    width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    text-align: center;
}
/*style card de img y text de promocion*/
.card_promo{
    width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    background: white;
    border: none;
}
.card_promo img{
    width: 100%;
    max-width: 400px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top:30px;
    margin-bottom: 10px;

}
.card_text{
    width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    padding: 20px 20px;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 20px;
    background-color: white;

}
.card_text ul h2{
    font-size: 40px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.card_text p{
    text-align: justify;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    font-size: 20px;
}

/*style de noticias*/
#container_noticia{
    width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    padding: 60px 60px;
    margin-top: 20px;
    background-color: #D87010;
    text-align: justify;
}
#container_noticia h2{
    font-size:40px;
    text-align: center;
    margin-bottom: 20px;

}


#container_informacion p{
   font-size:20px;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.leer-mas, .boton-leer-mas {
    padding: 10px 40px;
    border: 2px solid #fff;
    background: transparent;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
    color: white;
    outline: none;
    transition: all 300ms;
    margin-bottom: 10px;
}
.leer-mas:hover{
    background:white;
    color: #D87010;
}

.boton-leer-mas:hover{
    background:white;
    color: #D87010;
}



#contacto{
    width: 100%;
    height: 800px;
    margin-left: auto;
    margin-right: auto;
    background-image: url("img/cimenea\ hogar.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding-top: 150px;
}
.style_text_contact{
    width: 100%;
    max-width: 600px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    padding: 30px 30px;
    backdrop-filter: blur(10px); /* desenfoque de imagen */
    background-color: rgba(0, 128, 255, 0.1);

}
.style_text_contact h1,h2,h3{
    text-align: center;
    font-size: 40px;

}

/*rotacion de icono whatsapp e img de calidad*/
.rotate{

	animation: rotate 4s linear infinite;
  }
  
  @keyframes rotate {
	0% {
	  transform: rotate(0deg);
	}
	100% {
	  transform: rotate(360deg);
	}

}

.rotate img {
	position: fixed;
	right: 10px;
	bottom: 120px;
	width: 60px;
	z-index: 1000px;
	width: 110px;
	animation: rotate 4s linear infinite;
  }
  
  @keyframes rotate {
	0% {
	  transform: rotate(0deg);
	}
	100% {
	  transform: rotate(360deg);
	}

  }
  .appwhatsapp {
	right: 80px;
}

.footer{
    width: 100%;
    height: 100px;
    background-color: #D87010;
    padding: 40px 40px;
}
.footer h6{
    text-align: center;
    margin-bottom: 10px;
}


